@{
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 style ="color: #267C7C;">Entre em Contato Conosco</h1>
            <p>Estamos aqui para responder suas perguntas e ajudar com qualquer dúvida.</p>
            <form>
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="nome" placeholder="Seu nome">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail:</label>
                    <input type="email" class="form-control" id="email" placeholder="Seu e-mail">
                </div>
                <div class="mb-3">
                    <label for="mensagem" class="form-label">Mensagem:</label>
                    <textarea class="form-control" id="mensagem" rows="3" placeholder="Sua mensagem"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" style="background-color: #267C7C; border-color: #267C7C;">Enviar</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2 style="color: #267C7C;">Contatos</h2>
            <p>Se preferir aqui estão os nossos contatos: </p>
            <ul class="list-group" style="margin-top: 50px;">
                <li class="list-group-item">Telefone: (11) 1234-5678</li>
                <li class="list-group-item">E-mail: contato@petcare.com.br</li>
                <li class="list-group-item">Endereço: Rua dos Loucos, 0</li>
            </ul>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #D4FFFF;
    }

    .vh-100 {
        min-height: 100vh;
    }

   
</style>